.App {
  text-align: center;
}

.card {
  margin-left: 25%;
  width: 50%;
  display: grid;
  background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
  opacity: 100%;
  border: rgb(0, 0, 0) outset 1px;
}

@media screen and (max-width: 500px) {
  .card {
    margin-left: 10%;
    width: 80%;
    display: grid;
    background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
    opacity: 100%;
    border: rgb(0, 0, 0) outset 1px;
  }
}